.f-gallery {
  padding: 0 30px 180px;
}
@media (max-width: 1070px) {
  .f-gallery {
    padding: 0 30px 60px;
  }
}
@media (max-width: 600px) {
  .f-gallery {
    padding: 0 0 40px;
  }
}
.f-gallery .f-gallery-wrap {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}
.f-gallery .f-gallery-wrap h2 {
  font-family: "Canela", sans-serif;
  font-size: 110px;
  color: #466684;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px #466684;
  font-weight: 700;
  margin-bottom: 60px;
  padding: 0 40px;
  text-align: center;
  width: 100%;
}
@media (max-width: 1350px) {
  .f-gallery .f-gallery-wrap h2 {
    padding: 0 20px;
  }
}
@media (max-width: 600px) {
  .f-gallery .f-gallery-wrap h2 {
    font-size: 50px;
  }
}

.gallery__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 80px;
       column-gap: 80px;
  padding: 0 40px;
  justify-items: center;
}
@media (max-width: 1350px) {
  .gallery__container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (max-width: 900px) {
  .gallery__container {
    grid-template-columns: 1fr;
    padding: 0 20px;
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
.gallery__container .gallery__item {
  margin-bottom: 60px;
  width: 100%;
  cursor: pointer;
}
@media (max-width: 1350px) {
  .gallery__container .gallery__item {
    margin-bottom: 40px;
  }
}
@media (max-width: 900px) {
  .gallery__container .gallery__item {
    margin-bottom: 40px;
  }
}
.gallery__container .gallery__item img {
  display: block;
  width: 100%;
}
.gallery__container .gallery__item p {
  margin-top: 10px;
  font-family: "GT America", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #41424a;
  transition: color 0.3s ease-in-out;
}

.gallery__item:hover p {
  color: #e5745d;
}

.item-quotes .quotes-text {
  background-color: #466684;
  color: #fff;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}
.item-quotes .quotes-text h3 {
  position: absolute;
  padding: 40px;
  left: 0;
  right: 0;
  margin-bottom: 0;
  font-family: "Canela", sans-serif;
  font-size: 40px;
  font-weight: 200;
  line-height: 1.2;
}
.item-quotes .quotes-text h3 a {
  color: #fff;
  position: relative;
}

.canvas-width#canvas-b::after {
  width: 75px;
}

.quotes-text:hover {
  background-color: #324f6b;
}

.item-quotes h3::before {
  content: "";
  background: url(../img/quotes.svg);
  display: block;
  height: 30px;
  margin-bottom: 20px;
  width: 40px;
}

.f-gallery button {
  position: relative;
  overflow: hidden;
  z-index: 0;
  background-color: #fff;
}
.f-gallery button #bt-link {
  display: block;
  position: relative;
  font-family: "Styrene", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1;
  padding: 30px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  color: #15403d;
}
.f-gallery button #bt-link::before, .f-gallery button #bt-link::after {
  content: "";
  position: absolute;
}
.f-gallery button #bt-link::before {
  border: 1px solid #e5745d;
  inset: 7px 5px 5px 7px;
}
.f-gallery button #bt-link::after {
  border: 1px solid #e5745d;
  inset: 5px 7px 7px 5px;
}

.f-gallery button::before, .f-gallery button::after {
  background-color: #e5745d;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.f-gallery button::before {
  transform: translateY(-100%);
  transition: transform 0ms ease-in-out;
}

.f-gallery button::after {
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.f-gallery button:hover::before {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.f-gallery button #bt-link:focus, .f-gallery button #bt-link:hover {
  color: #fff;
}

.f-gallery button #bt-link:hover::before, .f-gallery button #bt-link:hover::after {
  border: 1px solid #fff;
}

.f-gallery button:hover::after {
  transform: translateY(0);
  transition: transform 0ms ease-in-out;
  transition-delay: 0.3s;
}/*# sourceMappingURL=f-gallery.css.map */