.thoughts {
  padding: 0 30px;
  background-color: #fff;
}
@media (max-width: 600px) {
  .thoughts {
    padding: 0;
  }
}
.thoughts .thoughts-wrap {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1400px;
  padding: 120px 0;
  width: 100%;
}
@media (max-width: 1070px) {
  .thoughts .thoughts-wrap {
    padding: 60px 0;
  }
}
.thoughts .thoughts-wrap h4 {
  padding: 0 40px;
  margin-bottom: 40px;
  width: 100%;
  font-family: "Styrene", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #41424a;
}
@media (max-width: 1350px) {
  .thoughts .thoughts-wrap h4 {
    padding: 0 20px;
  }
}

.thoughts__item {
  padding: 0 40px;
  width: 50%;
}
@media (max-width: 1350px) {
  .thoughts__item {
    padding: 0 20px;
  }
}
@media (max-width: 1070px) {
  .thoughts__item {
    width: 100%;
  }
}
.thoughts__item a {
  color: #41424a;
  transition: color 0.3s ease-in-out;
}
.thoughts__item a h2 {
  font-family: "Canela", sans-serif;
  font-size: 70px;
  font-weight: 200;
  line-height: 1.2;
  margin-bottom: 30px;
}
@media (max-width: 1070px) {
  .thoughts__item a h2 {
    font-size: 60px;
  }
}
@media (max-width: 600px) {
  .thoughts__item a h2 {
    font-size: 41px;
  }
}

.thoughts__item a:hover {
  color: #e5745d;
}

.thoughts-floyd {
  display: flex;
  align-items: center;
}
@media (max-width: 1070px) {
  .thoughts-floyd {
    display: block;
  }
}
.thoughts-floyd #img-floyd {
  margin-right: 20px;
  background-size: cover;
  border-radius: 50%;
  background-image: url(../img/joe_floyd.jpeg);
  height: 100px;
  width: 100px;
  cursor: pointer;
}
@media (max-width: 1070px) {
  .thoughts-floyd #img-floyd {
    display: none;
  }
}

.thoughts__item__right {
  padding: 0 40px;
  width: 50%;
}
@media (max-width: 1350px) {
  .thoughts__item__right {
    padding: 0 20px;
  }
}
@media (max-width: 1070px) {
  .thoughts__item__right {
    width: 100%;
  }
}
.thoughts__item__right a {
  color: #41424a;
  transition: color 0.3s ease-in-out;
}
.thoughts__item__right a h3 {
  font-family: "Canela", sans-serif;
  font-size: 40px;
  font-weight: 200;
  line-height: 1.2;
  margin: 0 0 30px;
}
@media (max-width: 1070px) {
  .thoughts__item__right a h3 {
    font-size: 60px;
  }
}
@media (max-width: 600px) {
  .thoughts__item__right a h3 {
    font-size: 41px;
  }
}

.thoughts__item__right a:hover {
  color: #e5745d;
}

.thoughts-bottom {
  font-family: "Styrene", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #41424a;
}

.thoughts-bottom::before {
  width: 100%;
  border-bottom: 1px solid;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.25;
  position: absolute;
  transition: width 0.3s ease-out;
}

.thoughts-bottom::after {
  width: 0;
  z-index: 1;
  border-bottom: 1px solid;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.25;
  position: absolute;
  transition: width 0.3s ease-out;
}

.thoughts-bottom:hover::after {
  opacity: 0.75;
  width: 100%;
}

.thoughts-bottom {
  padding-bottom: 2px;
  position: relative;
  transition: all 0.3s ease-out;
  z-index: 0;
}

.item-wrap1 {
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.item-wrap1::before {
  border-bottom: 1px solid #dcccc1;
  border-top: 1px solid #dcccc1;
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
}

@media (max-width: 1070px) {
  .item-pseudo {
    margin-bottom: 40px;
    padding-bottom: 40px;
    position: relative;
  }
}

@media (max-width: 1070px) {
  .item-pseudo::before {
    border-bottom: 1px solid #dcccc1;
    border-top: 1px solid #dcccc1;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
  }
}
.thoughts__item-wrap {
  position: relative;
}/*# sourceMappingURL=thoughts.css.map */