@import "values";
@import "mixins";

footer {
    background-color: $darkerblue;
    padding: 0 30px;
    color: #fff;
    @media (max-width: 600px) {
        padding: 0;
    }
    .footer-wrap {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1400px;
        padding-bottom: 180px;
        position: relative;
        width: 100%;
        @media (max-width: 900px) {
            padding-bottom: 80px;
        }
    }
}

.footer-wrap::before {
    border-bottom-color: #324f6b;
    border-left: 1px solid #324f6b;
    border-right: 1px solid #324f6b;
    border-top-color: #324f6b;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
}

.footer__first {
    padding: 60px 40px 0;
    width: 41.6666666667%;
    @media (max-width: 1350px) {
        padding: 60px 20px 0;
    }
    @media (max-width: 900px) {
        width: 100%;
    }
    h3 {
        font-family: 'Canela', sans-serif;
        font-size: 40px;
        font-weight: 200;
        line-height: 1.2;
        margin-bottom: 30px;
        margin-top: 0;
        a {
            color: #fff;
            position: relative;
        }
    }
    .footer__nav {
        font-family: 'GT America', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0;
        li {
            display: inline-block;
            a {
                color: #fff;
                padding-bottom: 2px;
                position: relative;
            }
            a::before {
                width: 100%;
                @include theses-b-a();
            }
            a::after {
                width: 0;
                z-index: 1;
                @include theses-b-a();
            }
            a:hover::after {
            opacity: .75;
            width: 100%;
            }
        }
    }
}

#canvas-b::after {
    content: "";
    width: 160px;
    height: 20px;
    background-repeat: no-repeat;
    z-index: 0;
    background-image: url(../img/canvas-blue.png);
    transition: all .2s ease-in-out;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.footer__second {
    padding: 60px 40px 0;
    margin-left: 8.3333333333%;
    width: 25%;
    position: relative;
    @media (max-width: 1350px) {
        padding: 60px 20px 0;
    }
    @media (max-width: 900px) {
        width: 100%;
        margin-left: 0;
    }
}

#footer-vertical {
    @media (min-width: 1070px) {
    position: absolute;
    right: 100%;
    top: 60px;
    writing-mode: vertical-lr;
    }
    h6 {
        font-family: 'Styrene', sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 2px;
        line-height: 1.2;
        text-transform: uppercase;
        position: relative;
        margin-block-start: 2.33em;
        margin-block-end: 2.33em;
        @media (max-width: 1070px) {
            margin-block: 0 20px;
        }
    }
}

.footer__contact {
    margin: 0;
    .contact-item {
        margin-bottom: 20px;
        p {
            font-family: 'GT America', sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
        }
        span {
            font-family: 'GT America', sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.5;
            a {
                color: #fff;
                padding-bottom: 2px;
                position: relative;
            }
            a::before {
                width: 100%;
                @include theses-b-a();
            }
            a::after {
                width: 0;
                z-index: 1;
                @include theses-b-a();
            }
            a:hover::after {
            opacity: .75;
            width: 100%;
            }
        }
    }
}

@media (min-width: 1070px) {
    .footer__second::before, .footer__third::before {
        border-bottom-color: #324f6b;
        border-left: 1px solid #324f6b;
        border-right: 1px solid #324f6b;
        border-top-color: #324f6b;
        bottom: 0;
        content: "";
        left: -3px;
        position: absolute;
        top: 0;
        width: 3px;
    }
}

.footer__third {
    padding: 60px 40px 0;
    width: 25%;
    position: relative;
    @media (max-width: 1350px) {
        padding: 60px 20px 0;
    }
    @media (max-width: 900px) {
        width: 100%;
    }
}