@import "values";
@import "mixins";


.founders {
    padding: 0 30px;
}

.founders__title {
    margin-bottom: 60px;
    margin-top: 60px;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px auto 120px;
    max-width: 1400px;
    width: 100%;
    div {
        padding-left: 40px;
        padding-right: 40px;
        width: 66.6666666667%;
        h5 {
            font-family: 'Styrene', sans-serif;
            color: $peach;
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 10px;
            text-align: center;
            line-height: 1.5;
        }
        h1 {
            font-family: 'Canela', sans-serif;
            color: $black;
            font-size: 70px;
            font-weight: 200;
            text-align: center;
            line-height: 1.2;
            padding: 0 40px;
            a {
                font: inherit;
                color: $black;
                position: relative;
            }
        }
    }
}

#canvas-g::after {
    content: "";
    width: 200px;
    height: 20px;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: url(../img/canvas-grey.png);
    transition: all .2s ease-in-out;
    position: absolute;
    bottom: -1px;
    left: 0;
}

#canvas-g:hover::after {
    bottom: -6px;
}
#canvas-g:hover {
    color: $peach;
}

#canvas-grey-green::after {
    @include canvas-grey-green();
}
#canvas-grey-green:hover::after {
    bottom: -8px;
}
#canvas-grey-green:hover {
    color: #67a582;
}

#canvas-blue-pink::after {
    @include canvas-blue-pink();
}
#canvas-blue-pink:hover::after {
    bottom: -8px;
}
#canvas-blue-pink:hover {
    color:#ffb7a9;
}

.canvas-width#canvas-blue-pink::after {
    width: 180px;
}

.founders__odd {
    @include founder();
    color: $black;
    #vertical {
        @include founders__portrait_span();
        transform: translateX(-50%);
    }
    .founders__portrait {
        padding-right: 120px;
        .portrait-wrapper {
            @include portrait-wrapper();
            #portrait {
                @include portrait();
            }
            ::before {
                bottom: calc(100% - 5px);
                background-image: url(../img/eric-peter-josh_before.png);
            }
            ::after {
                top: calc(100% - 5px);
                background-image: url(../img/eric-peter-josh_after.png);
            }
            ::before, ::after {
                @include before-after();
                left: 0;
            }
        }
    }
}

.founders__odd {
    .founders__about {
        @include founders__about();
        img {
            height: 30px;
            width: 133.5px;
            margin-bottom: 30px;
        }
        h2 {
            @include about-h2();
            a {
                color: $peach;
                position: relative;
            }
        }
        #founders__odd-bt {
            display: inline-block;
            width: fit-content;
            position: relative;
            overflow: hidden;
            z-index: 0;
            #bt-link {
                @include bt-link();
                background-color: #fff;
                color: $black;
            }
            #bt-link::before, #bt-link::after {
                content: "";
                position: absolute;
            }
            #bt-link::before {
                border: 1px solid $peach;
                inset: 7px 5px 5px 7px;
            }
            #bt-link::after {
                border: 1px solid $peach;
                inset: 5px 7px 7px 5px;
            }
        }
        ul {
            span{
                @include theses();
                color: $peach;
            }
            li {
                font-family: 'Styrene', sans-serif;
                margin-bottom: 5px;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                a {
                    color: $black;
                    position: relative;
                    transition: all .3s ease-out;
                    z-index: 0;
                    padding-bottom: 2px;
                }
                a::before {
                    width: 100%;
                    @include theses-b-a();
                }
                a::after {
                    width: 0;
                    z-index: 1;
                    @include theses-b-a();
                }
                a:hover::after {
                opacity: .75;
                width: 100%;
                }
            }
        }
    }
}

#hover:hover::after, #hover:hover::before {
    transition: all .3s cubic-bezier(.47,.22,.2,.97);
    margin: 5px 0;
}

.founders__even {
    @include founder();
    color: #fff;
    padding-bottom: 80px;
    position: relative;
    justify-content: space-between;
    .founders__about {
        @include founders__about();
        h2 {
            @include about-h2();
            a {
                color: $blue;
                position: relative;
            }
        }
        button {
            background-color: inherit;
            position: relative;
            width: fit-content;
            #bt-link {
                @include bt-link();
                background-color: #324f6b;
                color: #fff;
            }
            #bt-link::before, #bt-link::after {
                content: "";
                position: absolute;
            }
            #bt-link::before {
                border: 1px solid $blue;
                inset: 7px 5px 5px 7px;
            }
            #bt-link::after {
                border: 1px solid $blue;
                inset: 5px 7px 7px 5px;
            }
        }
        ul {
            span {
                @include theses();
                color: $blue;
            }
            li {
                font-family: 'Styrene', sans-serif;
                margin-bottom: 5px;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                a {
                    color: #fff;
                    position: relative;
                    z-index: 0;
                    padding-bottom: 2px;
                }
                a::before {
                    width: 100%;
                    @include theses-b-a();
                }
                a::after {
                    width: 0;
                    z-index: 1;
                    @include theses-b-a();
                }
                a:hover::after {
                opacity: .75;
                width: 100%;
                }
            }
        }
    }
}

.founders__even {
    #vertical {
        @include founders__portrait_span();
        transform: translateX(50%);
        right: 40px;
        margin-top: 30px;
    }
    .founders__portrait {
        padding-left: 120px;
        margin-top: -30px;
        .portrait-wrapper {
            @include portrait-wrapper();
            #portrait {
                @include portrait();
            }
            ::before {
                bottom: calc(100% - 5px);
                background-image: url(../img/jeff-rene_before.png);
            }
            ::after {
                top: calc(100% - 5px);
                background-image: url(../img/jeff-rene_after.png);
            }
            ::before, ::after {
                @include before-after();
                right: 0;
            }
        }
    }
}

.founders__even::after {
    background-color: #466684;
    bottom: 0;
    content: "";
    position: absolute;
    right: 120px;
    top: 0;
    width: 100vw;
    z-index: -1;
}