html, body {
  overflow-x: hidden;
}

body {
  background-color: #f9f4f1;
}

@media (min-width: 900px) {
  .hiring {
    display: block;
    width: 100%;
  }
}
@media (max-width: 900px) {
  .hiring {
    display: none;
  }
}
.dots {
  padding-top: 10px;
  display: block;
  font-family: "Canela", sans-serif;
  font-size: 19.2px;
  font-weight: 300;
  letter-spacing: 3px;
  color: #e5745d;
  text-align: right;
}
.dots div {
  display: inline;
  position: relative;
}
.dots div a {
  font-family: "Canela", sans-serif;
  font-weight: 300;
  color: #41424a;
  letter-spacing: 0;
  margin-right: 80px;
}

#border::after {
  content: "";
  width: 156px;
  z-index: -1;
  transition: all 0.2s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #e5745d;
}

#border:hover::after {
  bottom: -3px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 40px;
}
.nav img {
  width: 179px;
  height: 45px;
}

@media (min-width: 900px) {
  .nav__row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .nav__row li {
    font-family: "Styrene", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
  }
  .nav__row a {
    color: #15403d;
    padding-bottom: 2px;
  }
  .nav__row a:hover {
    border-bottom: 1px solid #e5745d;
  }
  #menu-item {
    display: none;
  }
}
#menu-toggle {
  opacity: 0;
  display: none;
}

@media (max-width: 900px) {
  .menu-btn {
    display: flex;
    position: relative;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 10;
  }
  .menu-btn > span, .menu-btn > span::before, .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #15403d;
  }
  .nav {
    padding: 20px;
    background-color: #f9f4f1;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
  }
  .nav #hidden-item {
    display: none;
  }
  .menu-btn > span::before {
    content: "";
    top: -8px;
  }
  .menu-btn > span::after {
    content: "";
    top: 8px;
  }
  .nav__row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #324f6b;
    z-index: 5;
    transform: translateY(-100%);
    transition: transform 0.5s;
    overflow: scroll;
  }
  .nav__row__item {
    font-family: "Canela", sans-serif;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    padding: 20px 0;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
  }
  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
    background-color: #fff;
  }
  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color: #fff;
  }
  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #fff;
  }
  #menu-toggle:checked ~ .nav__row {
    visibility: visible;
    transform: translateY(0);
    left: 0;
  }
  .menu-btn > span, .menu-btn > span::before, .menu-btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .nav__row__item {
    transition-duration: 0.25s;
  }
}