.newsletter {
  padding: 0 30px;
  background-color: #466684;
  border-bottom: 1px solid #324f6b;
  color: #fff;
}
@media (max-width: 600px) {
  .newsletter {
    padding: 0;
  }
}
.newsletter .newsletter-wrap {
  padding: 120px 0;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  position: relative;
  width: 100%;
}
@media (max-width: 900px) {
  .newsletter .newsletter-wrap {
    padding: 60px 0;
  }
}
.newsletter .newsletter-wrap h3 {
  padding: 0 40px;
  line-height: 1.5;
  margin-bottom: 60px;
  width: 50%;
  text-align: center;
  font-family: "Canela", sans-serif;
  font-size: 40px;
  font-weight: 200;
}
@media (max-width: 1350px) {
  .newsletter .newsletter-wrap h3 {
    padding: 0 20px;
  }
}
@media (max-width: 900px) {
  .newsletter .newsletter-wrap h3 {
    width: 100%;
  }
}
.newsletter .newsletter-wrap h3 a {
  color: #fff;
  position: relative;
}

.newsletter__form {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width: 900px) {
  .newsletter__form {
    flex-direction: column;
    max-width: 400px;
    padding: 0;
  }
}
.newsletter__form #form-email {
  background-color: #324f6b;
  box-shadow: inset 0 -1px 0 #324f6b;
  min-width: 300px;
  padding: 0 30px;
  border: 0;
  font-family: "Styrene", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  transition: box-shadow 0.3s ease-in-out;
}
@media (max-width: 900px) {
  .newsletter__form #form-email {
    padding: 30px;
  }
}
.newsletter__form #form-bt {
  display: block;
  position: relative;
  font-family: "Styrene", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1;
  padding: 30px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  background-color: #324f6b;
  color: rgba(255, 255, 255, 0.5);
}
.newsletter__form #form-bt::before, .newsletter__form #form-bt::after {
  content: "";
  position: absolute;
  opacity: 0.5;
}
.newsletter__form #form-bt::before {
  border: 1px solid #b5e4c9;
  inset: 7px 5px 5px 7px;
}
.newsletter__form #form-bt::after {
  border: 1px solid #b5e4c9;
  inset: 5px 7px 7px 5px;
}

.newsletter-wrap::before {
  border-bottom-color: #324f6b;
  border-left: 1px solid #324f6b;
  border-right: 1px solid #324f6b;
  border-top-color: #324f6b;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}

#form-email::-moz-placeholder {
  color: #fff;
}

#form-email:-ms-input-placeholder {
  color: #fff;
}

#form-email::placeholder {
  color: #fff;
}