@font-face {
    font-family: '.';
    src: url('775fedba5bfb237c0aacdbd19c8cfe44.woff2') format('woff2'),
        url('775fedba5bfb237c0aacdbd19c8cfe44.woff') format('woff'),
        url('775fedba5bfb237c0aacdbd19c8cfe44.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('8680197c4f09c471c4edc54790b4aecd.woff2') format('woff2'),
        url('8680197c4f09c471c4edc54790b4aecd.woff') format('woff'),
        url('8680197c4f09c471c4edc54790b4aecd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

